[submodule "src/internal/NonRigidICP"]
	path = src/internal/NonRigidICP
	url = //sagnix/Programmierung/public/Matlab/NonRigidICP
[submodule "src/internal/AnatomicalNeckAxis"]
	path = src/internal/AnatomicalNeckAxis
	url = //sagnix/Programmierung/public/Matlab/AnatomicalNeckAxis
[submodule "src/internal/UnifiedSagittalPlane"]
	path = src/internal/UnifiedSagittalPlane
	url = //sagnix/Programmierung/public/Matlab/UnifiedSagittalPlane
[submodule "src/external/AnatomicalViewTools"]
	path = src/external/AnatomicalViewTools
	url = https://github.com/MCM-Fischer/AnatomicalViewTools
[submodule "src/internal/DistalFemurExtremePoints"]
	path = src/internal/DistalFemurExtremePoints
	url = //sagnix/Programmierung/public/Matlab/DistalFemurExtremePoints
