[submodule "src/internal/NonRigidICP"]
	path = src/internal/NonRigidICP
	url = https://github.com/RWTHmediTEC/NonRigidICP
[submodule "src/external/AnatomicalViewTools"]
	path = src/external/AnatomicalViewTools
	url = https://github.com/MCM-Fischer/AnatomicalViewTools
[submodule "src/internal/FemoralNeckAxis"]
	path = src/internal/FemoralNeckAxis
	url = https://github.com/RWTHmediTEC/FemoralNeckAxis
[submodule "src/internal/DistalFemoralUnifiedSagittalPlane"]
	path = src/internal/DistalFemoralUnifiedSagittalPlane
	url = https://github.com/RWTHmediTEC/DistalFemoralUnifiedSagittalPlane
[submodule "src/internal/DistalFemoralExtremePoints"]
	path = src/internal/DistalFemoralExtremePoints
	url = //machtnix/benutzer/Max/Repos/DistalFemoralExtremePoints
